databases/logs.db
databases/sensor_data.db
scripts/__pycache__/data_handler.cpython-311.pyc
scripts/__pycache__/settings_handler.cpython-311.pyc
scripts/__pycache__/utils.cpython-311.pyc
scripts/__pycache__/logs_handler.cpython-311.pyc
logs/backend.log
databases/settings.db
venv/
logs/network_switcher.log
databases/SELECT
databases/.mode
databases/.headers
scripts/test.py
databases_bak/.headers
databases_bak/.mode
databases_bak/logs.db
databases_bak/settings.db
sensor_dashboard/__pycache__/utils.cpython-311.pyc
